.cards {
  height: 92vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 1.3rem 3.8rem;

  .card-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1344px;
    gap: 1.3rem;

    img {
      &:hover{
        transform: scale(1.05);
      }
      flex-grow: 1;
      border-radius: 8px;
      box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.45);
      cursor: pointer;
      transition: 300ms;
    }
  }
}